List of restaurants!
<ul>
  {{#each model.restaurants as |restaurant|}}
    <li>
      {{#link-to "restaurant" restaurant restaurant=restaurant}}
        {{restaurant.name}} in {{restaurant.locationName}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{new-restaurant saveNewRestaurant="saveNewRestaurant"}}
{{outlet}}
