{{restaurant-detail restaurant=model}}
<br><h2>Reviews</h2>
<ul>
  {{#each model.reviews as |review|}}
    {{review-tile review=review}}
  {{/each}}
</ul>
{{new-review restaurant=model saveNewReview="saveNewReview"}}
{{outlet}}
